[submodule "lib/SqlFormatter"]
	path = lib/SqlFormatter
	url = git://github.com/jdorn/sql-formatter.git
[submodule "lib/Mustache"]
	path = lib/Mustache
	url = git://github.com/bobthecow/mustache.php.git
[submodule "lib/FileSystemCache"]
	path = lib/FileSystemCache
	url = git://github.com/jdorn/FileSystemCache.git
