<style>
body {
	padding-bottom: 200px;
}
.database_message {
	color: #999;
}
h1 {
	margin: 10px 0;
	padding: 0;
}
#report_description {
	padding: 5px 0;
}
.show_query {
	font-size: .8em;
}
.csv_link {
	font-size: .9em;
	margin-left: 20px;
}

#variable_form {
	border: 1px solid #aaa;
	border-radius: 5px;
	padding: 10px;
	margin: 10px 0;
	font-family: arial;
}
#variable_form .input-row {
	margin: 5px 0;
}
#variable_form h2 {
	font-size: 1.3em;
	padding: 0 0 15px 0;
	margin: 0;
}
#variable_form .input, #variable_form select {
	padding: 3px 6px;
	border-radius: 5px;
	border: 1px solid #aaa;
}
#variable_form .submit {
	padding: 5px 10px;
	border-radius: 8px;
	border: 1px solid #aaa;
	margin-top: 10px;
}
#result_table {
	border: 1px solid black;
	border-width: 1px 1px 0 0;
	margin: 15px 0;
	border-collapse:collapse
}
#result_table.noborder {
	border: 0;
}
#result_table td, #result_table th {
	border: 1px solid black;
	border-width: 0 0 1px 1px;
	padding: 5px 8px;
	vertical-align:top;
}
#result_table.noborder td, #result_table.noborder th {
	border: 0;
}
#result_table th {
	background-color: #cfc;
}
#result_table.noborder th {
	background-color: #fff;
}

#result_table td .bar{
	height: 18px; 
	display:inline-block; 
	margin-right: 5px; 
	vertical-align:middle;
	background: #6bba70; /* Old browsers */
	background: -moz-linear-gradient(top, #6bba70 0%, #255e2b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6bba70), color-stop(100%,#255e2b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #6bba70 0%,#255e2b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #6bba70 0%,#255e2b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #6bba70 0%,#255e2b 100%); /* IE10+ */
	background: linear-gradient(top, #6bba70 0%,#255e2b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6bba70', endColorstr='#255e2b',GradientType=0 ); /* IE6-9 */
}
.currency {
	text-align:right;
}
.right, .rpad2 {
	text-align:right;
}
.center {
	text-align:center;
}
</style>

<h1>{{Name}}</h1>

{{#Description}}
	<div id='report_description'>{{{Description}}}</div>
{{/Description}}

{{{variable_form}}}

{{#is_ready}}{{^async}}
<em class='database_message'>Running on database
<select id='database_select'>
{{#Databases}}
	<option value='{{name}}' {{#selected}}selected="selected"{{/selected}}>{{name}}</option>
{{/Databases}}
</select>
</em>

{{#csv_link}}
<a href='{{csv_link}}' class='csv_link'>export to csv</a>
{{/csv_link}}

<div id='report_content'>
	{{{content}}}
</div>

<p>Query took {{Time}} seconds.  {{Count}} rows returned.</p>

{{#has_charts}}
	<script type="text/javascript">
	function drawCharts() {
		{{#Charts}}
			var data_{{num}} = google.visualization.arrayToDataTable([
				{{#Rows}}				
					{{#first}}
					[{{#values}}{{^first}},{{/first}}{{^is_array}}"{{key}}"{{/is_array}}{{/values}}]
					{{/first}}
					,[{{#values}}{{^first}},{{/first}}{{{value}}}{{/values}}]
				{{/Rows}}
			]);

			var options_{{num}} = {
				title: '{{title}}',
				displayMode: 'markers',
				colorAxis: {colors: ['blue', 'red']},
				sizeAxis: {minValue: 1,  maxSize:  10}
			};

			var chart_{{num}} = new google.visualization.{{type}}(document.getElementById('chart_div_{{num}}'));
			chart_{{num}}.draw(data_{{num}}, options_{{num}});
		{{/Charts}}
	}
	drawCharts();
	</script>
	
	{{#Charts}}
	<div id='chart_div_{{num}}' style='{{#width}}width: {{width}}px;{{/width}}{{#height}}height: {{height}}px;{{/height}}'></div>
	{{/Charts}}
{{/has_charts}}

{{#Query}}
<a href='#' class='show_query'>show query</a>
<div id='query_holder' style='display:none;'>
	{{#Query_Formatted}}
		{{{Query_Formatted}}}
	{{/Query_Formatted}}
	{{^Query_Formatted}}
		{{Query}}
	{{/Query_Formatted}}
</div>
<script>
$('.show_query').click(function() {
	showing = $('#query_holder').css('display') == 'none';
	
	$('#query_holder').toggle(500);
	
	if(showing) {
		$('html, body').animate({scrollTop: $("#query_holder").offset().top}, 1000);
	}
	
	return false;
});
$('.included_report').each(function() {
	var self = $(this);
	self.css('display','none').css('background-color','#f4f4f4').css('padding-left','10px');
	var link = $('<a>').attr('href','#').text('View Included Report').css('display','block').click(function() {
		self.toggle(200);
		return false;
	});
	
	self.before(link);
});
</script>
{{/Query}}

<script>
$('#database_select').change(function() {
	var url = window.location.href.split('?')[0];
	var querystring = window.location.href.split('?')[1].split('#')[0];
	
	querystring = querystring.replace(/&?database=[^&]*/,'');
	querystring += '&database='+$(this).val();
	
	window.location.href = url+'?'+querystring;
	return false;
});
</script>
{{/async}}{{/is_ready}}
{{^is_ready}}
<div class='notice'>
This report needs more information before running.
</div>
{{/is_ready}}
{{#async}}
<div class='waiting' id='async_notice'>
	<div>
		Your report is running.
		{{#time_estimate}}
			This report usually takes between {{q1}} and {{q3}} seconds.
		{{/time_estimate}}
	</div>
</div>
<script>
$.ajax({
	'url': '{{{report_url}}}',
	'dataType': 'html',
	'data': {'content_only': true},
	'success': function(data) {
		$('#content').html(data);
	}
});
</script>
{{/async}}
