{{^noreport}}

{{#vertical}}
	<table id='result_table' class='{{#noborder}}noborder {{/noborder}}'>
	{{#VerticalRows}}
		<tr>
		{{#values}}
			<{{#is_header}}th{{/is_header}}{{^is_header}}td{{/is_header}} class="{{class}}">
			{{#raw}}{{{value}}}{{/raw}}{{^raw}}{{value}}{{/raw}}
			</{{#is_header}}th{{/is_header}}{{^is_header}}td{{/is_header}}>
		{{/values}}
		</tr>
	{{/VerticalRows}}
	</table>
{{/vertical}}
{{^vertical}}
<table id='result_table' class='{{#noborder}}noborder {{/noborder}}'>
	{{#Rows}}{{#first}}
	<thead>
		<tr class='header'>
			{{#values}}
				<th class="{{class}}">{{key}}</th>
			{{/values}}
		</tr>
	</thead>
	<tbody>
	{{/first}}
		<tr>
		{{#values}}
			{{#value}}<td class="{{class}}">{{#raw}}{{{value}}}{{/raw}}{{^raw}}{{value}}{{/raw}}</td>{{/value}}
			{{^value}}<td class="{{class}}">{{value}}&nbsp;</td>{{/value}}
			
		{{/values}}
		</tr>
	{{/Rows}}
	</tbody>
</table>
<script type='text/javascript'>
$('#result_table').dataTable({
	bPaginate: false,
	aaSorting: []
});
</script>
{{/vertical}}


{{/noreport}}
