<form method='get' id='variable_form'>
	<h2>Configure Report</h2>
	
	<input type='hidden' name='report' value='{{report}}' />
	
	<!--
	<div class='input-row'>
		<label for='var_database'>Database</label>
		<select name='database' id='var_database'>
		{{#databases}}
			<option value='{{name}}' {{#selected}}selected="selected"{{/selected}}>{{name}}</option>
		{{/databases}}
		</select>
	</div>
	-->
	
	{{#vars}}
		<div class='input-row'>
			<label for='var_{{key}}'>{{display}}</label>
			{{#is_select}}
				{{#is_multiselect}}
					<select name='macros[{{key}}][]' id='var_{{key}}' class='input' multiple=true size={{choices}}>
				{{/is_multiselect}}
				{{^is_multiselect}}
					<select name='macros[{{key}}]' id='var_{{key}}' class='input'>
				{{/is_multiselect}}
				{{#options}}
					<option value="{{value}}" {{#selected}}selected="selected"{{/selected}}>{{display}}</option>
				{{/options}}
				</select>
			{{/is_select}}
			{{^is_select}}
				{{#is_textarea}}
					<textarea type='text' name='macros[{{key}}' id='var_{{key}}' class='input'>{{value}}</textarea>
				{{/is_textarea}}
				{{^is_textarea}}
					<input type='text' name='macros[{{key}}]' value='{{value}}' id='var_{{key}}'  class='input'/>	
				{{/is_textarea}}
			{{/is_select}}
			
			{{#description}}
				<span>{{{description}}}</span>
			{{/description}}
		</div>
	{{/vars}}
	
	<input type='submit' value='Run Report' class='submit' />
</form>
