#report_list a[name] {
    padding-top: 10px;
    margin-top: -30px;
    visibility: hidden;
}
#report_list h2.no_title {
	font-weight: normal;
	color: #999;
}
#report_list .nav-list h2 {
	font-size: 1.6em;
}
#report_list .nav-list .nav-list h2 {
	font-size: 1.3em;
}
