INSERT INTO `{{Name}}`
{{#Rows}}{{#first}}
	({{#values}}{{^first}}`,{{/first}}`{{key}}{{/values}}`)
VALUES
{{/first}}{{^first}},
{{/first}}	({{#values}}{{^first}}",{{/first}}"{{raw_value}}{{/values}}"){{/Rows}};
