<?php
return array(
	'reportDir' => 'sample_reports',
	'cacheDir' => 'cache',
	'databases' => array(
		'main'=>array(
			'host'=>'localhost',
			'mysql'=>array(
				'host'=>'localhost',
				'user'=>'root',
				'pass'=>'',
				'database'=>'test'
			),
			'mongo'=>array(
				'host'=>'localhost',
				'port'=>'27017'
			)
		)
	)
);
?>
