<style>
body {
	padding-bottom: 200px;
}
.database_message {
	color: #999;
}
#result_table {
	border: 1px solid black;
	border-width: 1px 1px 0 0;
	margin: 15px 0;
	border-collapse:collapse
}
#result_table td, #result_table th {
	border: 1px solid black;
	border-width: 0 0 1px 1px;
	padding: 5px 8px;
	vertical-align:top;
}
#result_table th {
	background-color: #cfc;
}
.currency {
	text-align:right;
}
.right, .rpad2 {
	text-align:right;
}
.center {
	text-align:center;
}
.show_query {
	font-size: .8em;
}
.csv_link {
	font-size: .9em;
	margin-left: 20px;
}
</style>
<h1>{{Name}}</h1>

{{#Description}}
	<div>{{{Description}}}</div>
{{/Description}}

<em class='database_message'>Running on database
<select id='database_select'>
{{#Databases}}
	<option value='{{name}}' {{#selected}}selected="selected"{{/selected}}>{{name}}</option>
{{/Databases}}
</select>
</em>

{{#csv_link}}
<a href='{{csv_link}}' class='csv_link'>export to csv</a>
{{/csv_link}}


<table id='result_table'>
	{{#Rows}}
		{{#first}}
		<tr class='header'>
			{{#values}}
				<th class="{{class}}">{{key}}</th>
			{{/values}}
		</tr>
		{{/first}}
		<tr>
			{{#values}}
				{{#value}}
					<td class="{{class}}">
						{{#raw}}
							{{{value}}}
						{{/raw}}
						{{^raw}}
							{{#pre}}
								<pre>{{value}}</pre>
							{{/pre}}
							{{^pre}}
								{{value}}
							{{/pre}}
						{{/raw}}
					</td>
				{{/value}}
				{{^value}}
					<td class="{{class}}">&nbsp;</td>
				{{/value}}
			{{/values}}
		</tr>
	{{/Rows}}
</table>

<p>Query took {{Time}} seconds.  {{Count}} rows returned.</p>

{{#Chart}}
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	<script type="text/javascript">
	google.load("visualization", "1", {packages:["corechart"]});
	google.setOnLoadCallback(drawCharts);

	function drawCharts() {
		var data = google.visualization.arrayToDataTable([
			{{#ChartRows}}
				{{#first}}
					[{{#values}}{{^first}}",{{/first}}"{{key}}{{/values}}"]
				{{/first}}
				,[{{#values}}{{#first}}"{{value}}"{{/first}}{{^first}},{{value}}{{/first}}{{/values}}]
			{{/ChartRows}}
		]);

		var options = {
			title: '{{title}}'
		};

		var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
		chart.draw(data, options);
	}
	</script>
	<div id='chart_div' style='{{#width}}width: {{width}}px;{{/width}}{{#height}}height: {{height}}px;{{/height}}'></div>
{{/Chart}}

{{#Query}}
<a href='#' class='show_query'>show query</a>
<div id='query_holder' style='display:none;'>
	{{#Query_Formatted}}
		{{{Query_Formatted}}}
	{{/Query_Formatted}}
	{{^Query_Formatted}}
		{{Query}}
	{{/Query_Formatted}}
</div>
<script>
$('.show_query').click(function() {
	showing = $('#query_holder').css('display') == 'none';
	
	$('#query_holder').toggle(500);
	
	if(showing) {
		$('html, body').animate({scrollTop: $("#query_holder").offset().top}, 1000);
	}
	
	return false;
});
</script>
{{/Query}}

<script>
$('#database_select').change(function() {
	var url = window.location.href.split('?')[0];
	var querystring = window.location.href.split('?')[1].split('#')[0];
	
	querystring = querystring.replace(/&?database=[^&]*/,'');
	querystring += '&database='+$(this).val();
	
	window.location.href = url+'?'+querystring;
	return false;
});
</script>
