{% include "html/table.twig" %}
<p>Query took {{Time}} seconds</p>

{% block chart_area %}
	{% if has_charts %}
		<iframe src="{{base}}/report/chart/?{{report_querystring}}" id='chart_container' class="auto-height" scrolling="no" style='width:100%;' frameborder="0"></iframe>
		<script>
		$(function() {
		  $('#chart_container').iframeAutoHeight();
		});
		</script>
	{% endif %}
{% endblock %}

{% block show_query %}
	{% if Query_Formatted %}
		<a data-role="button" data-toggle="collapse" data-target="#query_holder" href="#query_holder">show query</a>
		<div id='query_holder' class='collapse' style='padding-left: 20px;'>
			{{Query_Formatted|raw}}
		</div>
		<script>
		$(function() {
			$('.included_report').each(function() {
				var self = $(this);
				self.css('display','none');

				var name = self.data('name');
				if(name == "Variables") {
					var linktext = "Included Variables";
				}
				else {
					var linktext = "Included Report - "+name;
				}

				var link = $('<a>').attr('href','#').text(linktext).css('display','block').click(function() {
					self.toggle(200);
					return false;
				});

				self.before(link);
			});
		});
		</script>
	{% endif %}
{% endblock %}
